@import '~bootstrap/scss/bootstrap';

.success {
  color: green;
  text-align: center;
}

.failure {
  color: red;
  text-align: center;
}

.auth-form {
  margin: 100px auto;
  width: 40%;
  text-align: center;
  input {
    display: block;
    margin: auto;
    margin-bottom: .7rem;
    width: 175px;
  }
  button {
    margin: 10px auto;
    width: 175px;
  }
  h2 {
    font-size: 20px;
  }
}

.board {
  margin: 25px auto;
  width: 50%;
}

.row {
  display: flex;
}

.game-box {
  background-color: rgba(150,150,150,0.5);
  border: 1px solid black;
  height: 150px;
  text-align: center;
  position: relative;
  // width: 150px;
}

.block-image {
  height: 75%;
  width: 75%;
  position: absolute;
  top: 12.5%;
  left: 12.5%;
}

.hidden {
  display: none;
}
